* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.main-container {
  margin: 0;
  /*border:1px solid blue;*/
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.doggy {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 85px;
  height: 85px;
  background: url('white-black.png') no-repeat center center;
  /*background: url('http://images.all-free-download.com/images/graphiclarge/cute_dog_photo_picture_5_168845.jpg') no-repeat center center;*/
  /*background: url('cute-puppy.png') no-repeat center center;*/
  background-size: cover;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.heart {
  position: relative;
  width: 50px;
  height: 45px;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}

/* STAR */

.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: teal;
  width: 0px;
  height: 0px;
  border-right:  100px solid transparent;
  border-bottom: 70px  solid teal;
  border-left:   100px solid transparent;
  -moz-transform:    rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform:     rotate(35deg);
  -o-transform:      rotate(35deg);
}
.star-five:before {
  border-bottom: 80px solid teal;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform:    rotate(-35deg);
  -ms-transform:     rotate(-35deg);
  -o-transform:      rotate(-35deg);

}
.star-five:after {
  position: absolute;
  display: block;
  color: teal;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid teal;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform:    rotate(-70deg);
  -ms-transform:     rotate(-70deg);
  -o-transform:      rotate(-70deg);
  content: '';
}